@import "tailwindcss";

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
  --color-primary: 30 64 175; /* blue-800 */
  --color-primary-dark: 23 37 84;
}

@theme inline {
  --color-background: var(--foreground-rgb);
  --color-foreground: var(--background-start-rgb);
  --font-inter: var(--font-inter);
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
} */

@layer utilities {
  .text-primary {
    color: rgb(var(--color-primary));
  }

  .text-primary-dark {
    color: rgb(var(--color-primary-dark));
  }

  .bg-primary {
    background-color: rgb(var(--color-primary));
  }

  .bg-primary-dark {
    background-color: rgb(var(--color-primary-dark));
  }

  .hover\:bg-primary-dark:hover {
    background-color: rgb(var(--color-primary-dark));
  }

  .hover\:text-primary:hover {
    color: rgb(var(--color-primary));
  }

  .hover\:text-primary-dark:hover {
    color: rgb(var(--color-primary-dark));
  }

  .border-primary {
    border-color: rgb(var(--color-primary));
  }

  .focus\:ring-primary:focus {
    --tw-ring-color: rgb(var(--color-primary) / 0.5);
  }
}

.prose img {
  @apply rounded-lg;
}

.prose h2 {
  @apply text-2xl font-bold mt-8 mb-4;
}

.prose h3 {
  @apply text-xl font-semibold mt-6 mb-3;
}

.prose p {
  @apply mb-4;
}

.prose ul {
  @apply list-disc pl-5 mb-4;
}

.prose ol {
  @apply list-decimal pl-5 mb-4;
}

.prose blockquote {
  @apply border-l-4 border-gray-300 pl-4 italic;
}

body {
  background: var(--foreground-rgb);
  color: var(--background-start-rgb);
  font-family: inter, sans-serif;
}
